.app {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-image: url("images/cover2.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.content-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}
