.app {
  position: relative;
  width: 100%;
  padding: 0;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-image: url("images/cover2.png"), url("images/cover6.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 100%, 100%;
    background-position-y: 0px, 826px;
  }
}

.content-wrapper {
  position: relative;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.div-line {
  margin: auto 1rem 0 1rem;
  border-top: 1px solid #858585;
}
